{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Beg Enterprises</h1>
        <p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti expedita aspernatur voluptates assumenda, iure, placeat ratione repellat quisquam quod id beatae rerum obcaecati eaque necessitatibus. Molestias eius expedita cum illo.</span>
            <span>Illum eveniet tenetur assumenda et, accusamus, ducimus sequi nisi blanditiis porro veniam necessitatibus ex repellendus beatae architecto perspiciatis impedit veritatis maxime, minima minus quidem eum. Veniam laudantium architecto debitis culpa?</span>
            <span>Sint dicta voluptate error voluptatibus inventore possimus illum corrupti, quae veritatis distinctio! Non voluptas ullam provident error, maxime asperiores veritatis dicta minus nostrum, quam tempore nulla aliquid in dolorem officia.</span>
            <span>Alias eaque maxime facere unde reprehenderit eveniet nam labore mollitia incidunt ipsa adipisci, tempore neque et obcaecati id perferendis, veniam quae repellat soluta delectus accusamus natus? Ipsa ratione magnam consequuntur!</span>
            <span>Dolore ea deserunt consequuntur exercitationem, error cupiditate ut natus repudiandae beatae? Aliquam est nemo esse sint blanditiis praesentium, rerum voluptate consequatur! Iste, perferendis. Quia autem, ducimus a numquam obcaecati deleniti?</span>
            <span>Natus a quidem fugiat excepturi, autem quaerat nulla non necessitatibus quisquam porro ipsam adipisci corporis obcaecati eveniet, architecto veniam deleniti veritatis beatae ad labore vitae ipsum nisi. Blanditiis, dignissimos adipisci.</span>
            <span>Voluptatem iusto, harum inventore illo quisquam dicta minus commodi debitis voluptatibus magnam eos et vel maiores natus voluptate distinctio nam laboriosam, repellat officia animi, cumque rerum perferendis ab. Iure, laudantium?</span>
            <span>Pariatur, numquam modi ipsa ex voluptatum facilis dicta! Provident eos culpa dolores officiis eligendi. Aut sequi libero iusto nam totam ab maxime. Esse voluptatum illo consectetur, perferendis asperiores impedit eos.</span>
            <span>Alias adipisci ratione illo dolorum omnis dolore, ipsum nobis corrupti possimus excepturi sed animi quidem velit provident ullam totam nostrum quae tenetur sequi odit corporis libero. Nemo modi voluptatem excepturi.</span>
            <span>Ab mollitia perspiciatis ipsam doloremque quis quibusdam, error, consectetur, dolorum sequi ducimus iste! At magnam eum deleniti quae id culpa aliquam veritatis. Cum optio corrupti consectetur! Facilis esse soluta possimus.</span>
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo-districaribe-logo.png" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer}}